<!DOCTYPE html >
<!--  Website template by freewebsitetemplates.com  -->
<html>

<head>
	<title>Sterilistic</title>
	
 <body style="background-color:#fff;">
     <ul>
	</li>
	    <center><h1>
		H! there.. This is very primitive Django project.</h1>
	    </center>															
      </ul>
	    </p	
</div>
	 <div class="body">
		<center> <p><br>
			<h2>For extractor click here:  </h2>  <a href="/polls"> 	
	<button style=" position: absolute;
    width: 100px;
    height: 40px;
    top: 27%;
    background-color:blue;
    left: 50%;
    color:white; 	
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;  " >
		Extractor
	</button>	
	</a><center>
		</p>
	
	<center style=" position: absolute;
   				 top: 38%;
    				left: 10%;
				color:blue;
   				 margin-left: -50px; /* margin is -0.5 * dimension */
   				 margin-top: -25px;  ">
		<p>

		<h3 >Look up at the stars and not down at your feet. Try to make sense of what you see, and wonder about what makes the universe exist. Be curious.</h3> <h4>-Stephen Hawking</h4> 
	</p></center>
  </div>
   
				
	
</body>
</html>
